# Environnement Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
*.egg

# Variables d'environnement
.env

# Base de données
data/*.db
data/*.sqlite
data/*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Tests
.pytest_cache/
htmlcov/
.coverage
